<div class="container">
  <div class="list-container">
    <search (searchEvent)="onResult($event)"></search>
    <list>
      @for (item of peopleDisplay; track item) {
      <item [person]="item" (newPerson)="onPerson($event)" (delPerson)="deletePerson($event)"></item>
      }
    </list>
  </div>
  <div class="cards-container">
    <card>
      Personal
      <div>
        <p>Name: {{ personSelected.name }}</p>
        <p>LastName: {{ personSelected.lastName }}</p>
        @if( personSelected.type === 'student'){
        <p>
          Score:
          {{
            (personSelected.firstTestScore +
              personSelected.secondTestScore +
              personSelected.finalTestScore) /
              3
          }}
        </p>
        }@else{
        <p>Subject: {{ personSelected.subject }}</p>
        }
        <p>({{ personSelected.type }})</p>
      </div>
    </card>
    <card
      >Geographic
      <div>
        <p>
          Address:
          {{
            personSelected.address.zone +
              " " +
              personSelected.address.street +
              " " +
              personSelected.address.number
          }}
        </p>
        <p>Country: {{ personSelected.country }}</p>
        <p>Province: {{ personSelected.province }}</p>
      </div>
    </card>
    <card>Messages
      <div class="list-container">
        <search (searchEvent)="onResult($event)"></search>
        <list>
          @for (item of personSelected.messages; track item) {
            <div>
              {{item}}
            </div>
          }
        </list>
      </div>
    </card>
  </div>
</div>
