<div [ngClass]="{
  'user-card': password === '123',
  'user-card-black': password === 'hola' 
}">
  <p [ngStyle]="{
    'background-color': password === 'red' ? 'red' : 'yellow',
  }"> USER CARD COMPONENT</p>
  <p>user-card works!</p>
  <p>INPUT: {{ name }}</p>
  <p>EMAIL: {{ email }}</p>

  <p>PASSWORD = {{ password }}</p>
  
  <input type="text" [(ngModel)]="password"/>

  <button #buttonShow (click)="showButton = !showButton">Send Data</button>
@if(showButton){
  <button #buttonTest (click)="onSendData()">Send Data</button>
}
  <!-- <ng-content></ng-content> -->
</div>
